config SHIELD_PROJECT_HAMMERHEAD_LEFT
    def_bool $(shields_list_contains,project_hammerhead_left)

config SHIELD_PROJECT_HAMMERHEAD_RIGHT
    def_bool $(shields_list_contains,project_hammerhead_right)